@media screen and (max-width: 575px) {
    .calculation-form {
        .btn {
            width: 100%;

            .icon {
                margin: 0 -14px 0 auto;
            }
        }
    }

    .padding {
        padding: 0 15px;
    }

    .advantage {
        margin-bottom: 28px;
    }

    .delivery {
        .slick-slide:after {
            left: 15px;
            right: 15px;
        }

        .slider-template__img-box {
            margin-bottom: 43px;
            padding: 0 15px;

        }

        .slider-template__btn-row {
            padding: 0 30px;

            .btn {
                white-space: nowrap;
                width: 138px;
                min-width: 138px;
            }
        }
    }

    .slider-template {
        width: 365px;
        margin: 0 -15px;

        .slick-slide {
            padding: 0 0 27px;
        }

        .slick-dots {
            margin-top: 33px;
        }
    }

    section.delivery,
    section.services {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .services {
        .slider-template {


            &__img-box {
                left: 15px;
                right: 15px;
            }

        }
    }

    .about-company {
        .about__description {
            font-size: 16px;
            line-height: 149.5%;
            margin-top: -13px;
            text-align: justify;
        }

        .about__img {
            margin: 25px auto 0;
            width: 275px;

            img {
                width: 100%
            }
        }

    }

    .faq {
        .accordion {
            margin: 0 auto;

            .accordion-body {
                padding: 0px 22px 12px;
                font-size: 14px;

            }

            .accordion-button.collapsed {
                padding: 12px 22px;
            }

            .accordion-button {
                padding: 16px 22px 10px;
                font-size: 16px;
                height: 64px;
            }
        }
    }

    .faq-form {
        margin: 0 auto;
        margin-top: 28px;
        max-width: 335px;
        padding: 38px 20px;

        h3,
        p {
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
        }

        .input-box {
            input {

                &[type="text"],
                &[type="tel"],
                &[type="email"],
                &[name="question"] {
                    max-width: 295px;
                }
            }
        }
    }

    .cooperation {
        .cooperation-faq__first,
    .cooperation-faq__second {

        .cooperation-description__first,
        .cooperation-description__second {
            font-weight: 400;
            font-size: 16px;
            line-height: 149.5%;
            margin: 0;
            
            .dot {
                &:before {
                    margin-right: 4px;
                }
            }
        }

        .cooperation-description__first {
            p {
                margin: 37px auto -6px;
                text-align: justify;
                }
            }
        }

      .cooperation-faq__second {
        margin-top: 50px;
      }

        .cooperation-description__second {
            p {
                margin: 31px auto -7px;
                text-align: justify;
                letter-spacing: -0.1px;
            }
        }

        .cooperation-img {
            width: 335px;
            height: 220px;
        }

        .btn {
            margin-top: -10px;
            display: flex;
            justify-content: space-between;
            letter-spacing: -0.3px;
            width: 100%;
        }
        .cooperation-faq__first {
            display: flex;
            flex-direction: column-reverse;
        }
    
        .template-title h3 {
            font-size: 16px;        
    }
    }

    footer {
        .first-section {
            text-align: center;
            margin: 0 20px;
        }
    }
    }



