header {
    .nav-link {
        color: #fff;
        &:hover,
        &:focus {
            color: $color-primary;
        }
    }
    .navbar-nav {
        .nav-link {
            &.active {
				color: $color-primary;
			}
        }
    }
}
