///colors///
$color-primary: #e58d35;
$color-secondary: #89c249;

$bg-primary: #282b38;
$bg-secondary: #363a4d;

$br-primary: 1px solid #c4c4c4;

$text-color: #fff;


///fonts///
$font-primary: "ProximaNova";

$section-margin-lg: 100px;